<ion-view title="{{groupValue}}" ng-controller="EventListCtrl">

	<ion-nav-buttons side="left">
		<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/app/home">Back</a>
	</ion-nav-buttons>

    <ion-content class="has-header">

      <ion-list>

        <ion-item ng-repeat="(title,events) in eventsGroup"
                  item="title"
                  href="#/app/event?title={{title}}&groupKey={{groupKey}}&groupValue={{groupValue}}" ng-click="eventSelected(events)">
          <h2>{{title}}</h2>
          <p style="white-space:normal"><span ng-repeat="event in events">{{event.shortStart}} </span></p>
      	  <p style="white-space:normal">{{events[0].shortDescription}}</p>
        </ion-item>

      </ion-list>

    </ion-content>

</ion-view>
